page-mensajeria {
    .toolbar-title-md {
        font-size: 1.4rem!important;
        font-weight: 400!important;
        letter-spacing: 2px;
    }
    
    p{
        text-align:center;padding:0;margin:0;
    }
    .row{
        
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .border_bottom{
        border-bottom: 1px dashed #bb993a;
    }

    input{
        background-color: #ffffff !important;
        border: 0px solid #bb993a !important;
        padding: 9px 1px !important;
        border-radius: 3px!important;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #e5dea0;
        background-color: transparent;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #e5dea0;
    }

    .toolbar-background-md{
        background: -webkit-linear-gradient(180deg, rgb(208, 31, 38), rgb(144, 22, 25));
        background: linear-gradient(180deg, rgb(208, 31, 38), rgb(144, 22, 25));
        border-top: 5px solid #bb993a;
    }

    .bg-01{
        background: -webkit-linear-gradient(180deg, rgb(0, 97, 165), rgb(7, 60, 119));
        background: linear-gradient(180deg, rgb(0, 97, 165), rgb(7, 60, 119));
    } 
 
    .gold{
        color: #e5dea0;
    }

    .white{
        color: #ffffff!important;
    }

    ion-grid p{
        color: #e5dea0;
        font-weight: 500;
        font-size: 1.0rem;
    }

    .txt_predicciones{
        color: #ffffff!important;
        text-align: center;
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .result{
        width: 100%;
    }

    .result p{
        font-size: 1.2rem;
        margin: 0 auto;
        padding: 0;
    }

    .win{
        color: springgreen;
    }

    .draw{
        color: yellow;
    }

    .lose{
        color: #d72228;
    }

    h1{
        text-align:center;
        font-variant: small-caps;
        letter-spacing: 2px;
        color:#fff;
        font-size: 16px;
        font-family: 'robotolight';
    }

    .pipita{
        width: 75%;
        border: 5px solid white;
    }

    .nop{
        text-align: center;
    }

    ion-footer{
        background-color:#0061a5!important;
    }

    ion-footer ion-textarea {
        color: #ffffff!important;
        font-size: 1.8rem!important;
    }

    .header_msg{
        background-color: #ffffff;
        height: 20px;
        margin-bottom: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
        border-bottom: 0px solid #dedede;
        min-height: 3rem!important;
    }

    .header_msg h2{
        float: left;
        font-size: 1.5rem;
        color: #424242;
        margin-top: 0rem!important;
    }

    .header_msg p{
        float: right;
        font-size: 1.4rem;
        font-variant: all-small-caps;
        margin-top: 1px;
    }

    ion-card{
        width: 85% !important;
    }

    ion-card-content p{
        text-align: left;
        font-size: 1.6rem!important;
    }

    .button-clear-md {
        color: #5eabe4;
        font-size: 1.8rem;
        margin-top: 10px;
    }

    .title-right{
        background: #ffffff;
    }

    .msg-right{
        float:right;
        background: #ffffff;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .msg-right h2{
        color: #0061a5!important;
        float: right;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .msg-right h2 p{
        font-size: 1.3rem;
        font-variant: all-small-caps;
        margin-top: 11px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

   /* .msg-right::after {
        border-bottom: 15px solid #ffffff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        width: 0;
        height: 0;
        content: "";
        display: block;
        position: absolute;
        bottom: 100%;
        left: 1em;
    }*/

    .msg-left{
        float:left;
        background: #ffffff;
        border-bottom-right-radius: 7px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .msg-left h2{
        color: #bb993a!important;
        float: left;
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .msg-left h2 p{
        font-size: 1.3rem;
        font-variant: all-small-caps;
        margin-top: 11px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
