page-update {
    .row{
        border-bottom: 1px dashed #bb993a;
        padding-bottom: 5px;
        padding-top: 5px;
    }
 

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #e5dea0;
        background-color: transparent;
    }

    .toolbar-title-md {
        font-size: 1.4rem!important;
        font-weight: 400!important;
        letter-spacing: 2px;
        color:#e5dea0;
    }

    .toolbar-background-md{
        background: -webkit-linear-gradient(180deg, rgb(208, 31, 38), rgb(144, 22, 25));
        background: linear-gradient(180deg, rgb(208, 31, 38), rgb(144, 22, 25));
        border-top: 5px solid #bb993a;
    }

    .bg-01{
        background: -webkit-linear-gradient(180deg, rgb(0, 97, 165), rgb(7, 60, 119));
        background: linear-gradient(180deg, rgb(0, 97, 165), rgb(7, 60, 119));
    }

    h1{
        color: #ffffff;
        font-size: 2.5rem;
        border-bottom: 1px dashed #2a86ca;
        padding-bottom: 0.7rem;
    }

    p{
        color: #ffffff;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: center;
    }

        p span{
            color: #e5dea0;
            font-size: 1.7rem;
            display: block;
            font-weight: 600;
            padding-top: 0.2rem;
        }
        .logo{
            background-color: transparent; 
            text-align: center; 
            border-top: #bb993a solid 0px;
            border-bottom: 2px dotted #e5dea0;
            margin-bottom: 2rem;
        }   
}
